<div class="experiment">
  <div id="overlay">
  </div>
  <div class="container" [@powerOn]="isOn ? 'true' : 'false'">
    <div class="button-container" (click)=powerOn()>
      <a class="button" >
        <span><fa-icon [@childAnimation]="isOn ? 'true' : 'false'" icon="power-off" class='power-button' size="5x"></fa-icon></span>
      </a>
    </div>
  </div>
  <div *ngIf="this.isOn" class="text-container" @introLine>
    <div>
      <h1 class="intro">Hello, I'm Gabriel</h1>
    </div>
    <span></span>
    <div class="next-container">
      <div class='next' routerLink='/about'>
        <span><fa-icon icon="angle-down" size="4x"></fa-icon></span>
      </div>
    </div>
  </div>      
</div>

