.section {
	//background-color: bisque;
	//clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	height: 100vh;
	position: relative;
	font-family: montserrat;
}
.home {
	background-color:white;
	height: 90vh;
	padding: 0;
	.intro-bg {
		clip-path: polygon(70% 0, 100% 0, 100% 100%, 56% 100%);
		position: absolute;
		width:100%;
		height:100%;
		background-color: rgb(185, 151, 106);
		z-index:0
	}
	.intro-content {
		padding: 1em 2em;
		position: relative;
	}
}
.about {
	background-color: rgb(243, 242, 242);
}
.education{
	background-color: white;
}
.skills {
	background-color: rgb(243, 242, 242);
}
.projects {
	background-color: white;
}
.mainbody {
	position: absolute;
	width:95%;
	left:2.5%;
	top: 1%;
}

mat-drawer{
	display: table;
	font-family: poppins;
	text-align: center;
	padding: 0;
	background-color: white;
	position: fixed;
	width: 11%;
	top: 10%;
	box-shadow: -1px 3px 10px rgb(59, 59, 59);
	overflow: hidden;
	.nav-item {
		cursor:pointer;
		border-bottom: 1px solid rgba(128, 128, 128, 0.199);
		padding-top: 0.5em;
		margin: 0;
		//box-shadow: 0px 0px 5px rgb(59, 59, 59);
	}
	.last{
		border-bottom: none;
		padding-bottom: 1px;
	}
	p {
		margin: 0.3em;
		font-size: 0.85em;
	}
}
mat-drawer :hover {
	color: rgb(185, 151, 106);
	border-bottom: 1px solid rgb(185, 151, 106);
	fa-icon {
		border-bottom: none;
	};
	p {
		border-bottom: none;
	}
}
.nav-highlight {
	color: rgb(185, 151, 106);
	border-bottom: 2px solid rgb(185, 151, 106) !important;
}
.main-content {
	width: 90%;
	margin: 4em 1em;
	box-shadow: 0px 0px 20px grey;
}
#overlay {
	width: 100%;
	min-height: 100%;
	margin:0;
	padding:0;
	position: absolute;
	background-color: rgb(254, 255, 205);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size:cover;
	overflow: scroll;
}
.back-button {
	z-index: 10;
	position: absolute;
	display: flex;
	justify-content: center;
	width: 100%;
	top: 1%;
	.back {
        width: 2.5em;
        height: 2.5em;
        border: 2px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
		justify-content: center;
        cursor: pointer;
        fa-icon {
			color: black;
        }
    }
}
.back-button :hover {
    transform: scale(1.2);
    fa-icon {
		transform: scale(1);
    }
}
.back-button :active {
    transform: scale(1);
    -webkit-transform: scale(1)
}
.contact-button {
	position: fixed;
	top: 40%;
	right: 3%;
	z-index: 10;
	display: flex;
	flex-direction: column;
	align-items: center;
	cursor: pointer;
	.circle {
        width: 3em;
        height: 3em;
        border: 1.5px solid black;
        border-radius: 50%;
        display: flex;
        align-items: center;
		justify-content: center;
		
        fa-icon {
			color: black;
		}
	};
	span {
		color: black;
		font-family: Montserrat;
		margin-top: 0.3em;
		font-size: 0.8em;
		font-weight: bold;
	}
}
.contact {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contact-button :hover {
		transform: scale(1.2); 
	.circle {
		transform: scale(1);
	}
    fa-icon {
		transform: scale(1);
	}
	span {
		transform: scale(1);
	}
}
.contact-button :active {
    transform: scale(1);
    -webkit-transform: scale(1)
}

