<div class="background">
</div>
<div class="container">
  <div class="heading" [ngsReveal]="{
    container:'#overlay', origin:'left',distance: '10em', easing: 'cubic-bezier(1,.08,.55,1.7)'}">
    <h1>
      SKILLS
    </h1> 
    <h2>
      <hr><fa-icon icon="tools"></fa-icon><hr>
    </h2>
  </div>
  <div class="content-container">
    <div class="attributes" [ngsReveal]="{
      container:'#overlay', origin:'left',distance: '10em', easing: 'cubic-bezier(1,.08,.55,1.7)'}">
      <div class='title'><fa-icon [icon]="['far','lightbulb']"></fa-icon> Personal Attributes</div>
      <div class="list-container">
        <ul>
          <li>Team Player</li>
          <li>Flexible: Thrives in Dynamism</li>
          <li>Good Problem Solving Skills</li>
          <li>Efficient Time Management</li>
          <li>Effective Communication</li>
          <li>Hardworking</li> 
        </ul>
      </div>
    </div>
    <div class="head" [ngsReveal]="{
      container:'#overlay', delay:'500', origin:'left',distance: '10em', easing: 'cubic-bezier(1,.08,.55,1.7)'}">
      <fa-icon icon="toolbox"></fa-icon> My Programming Skillset
    </div>
    <div class="coding-container" [ngStyle]="{'flex-direction':isHandset?'column':'row'}">
      <div [ngClass]="isHandset?'data-card':'d-card'">
      <div class="data-front">
        <div class="data-front-content">
          <div class="shape-container">
            <div class="shape">
              Data Science
              <fa-icon icon='flask'></fa-icon>
            </div>
          </div>
          <span *ngIf="isHandset">Tap to see the libraries I use</span>
          <span *ngIf="!isHandset">Hover over to see the libraries I use</span>
        </div>
      </div>
      <div class="data-back">
        <div class="data-analytics" [ngStyle]="{'flex-direction':isHandset?'column':'row'}">
          <div class="header">
            <span *ngIf="!isHandset">Data Analytics</span> 
            <div class="circle">
              <img src="../../../assets/images/python.png" alt="python">
            </div>
          </div>
          <div class="content">
            <div class="scipy col">
              <span [ngStyle]="{'width':isHandset?'40vw':'20vw'}">
                <div>
                  Data Management & Visualisation
                </div>
              </span>
              <p>
                <img [ngClass]="!isHandset?'computer-img':''" id="pandas" src="../../../assets/images/pandas.png" alt="Pandas">
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/numpy.png" alt="numPy">
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/matplotlib.png" alt="matplotlib">
              </p>
            </div>
            <div class="ml-dl col">
              <span [ngStyle]="{'width':isHandset?'40vw':'20vw'}">
                <div>
                  Machine Learning & Deep Learning
                </div>
              </span>
              <p>
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/pytorch.png" alt="pytorch">
              </p>
            </div>
            <div class="nlp col">
              <span [ngStyle]="{'width':isHandset?'40vw':'20vw'}">
                <div>
                  Natural Language Processing
                </div>
              </span>
              <p>
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/spacy.png" alt="spaCy">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div [ngClass]="isHandset?'web-card':'w-card'">
      <div class="web-front">
        <div class="web-front-content">
          <div class="shape-container">
            <div class="shape">
              Web
              <br>
              Development
              <fa-icon [icon]="['far','edit']"></fa-icon>
            </div>
          </div>
          <span *ngIf="isHandset">Tap to see the libraries I use</span>
          <span *ngIf="!isHandset">Hover over to see the libraries I use</span>    
        </div>
      </div>
      <div class="web-back">
        <div class="web-dev" [ngStyle]="{'flex-direction':isHandset?'column':'row'}">
          <div class="header">
            <span *ngIf="!isHandset">Web Development</span>
            <img src="../../../assets/images/web-dev.png" alt="">
          </div>
          <div class="content">
            <div class="col">
              <span>
                <div>
                  Front-end
                </div>
              </span>
              <p [ngStyle]="{'width':isHandset?'50vw':'90%'}">
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/htmlcss.png" alt="html">
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/javascript.png" alt="js">
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/angular.png" alt="angular">
                <img [ngClass]="!isHandset?'computer-img':''" id="bootstrap" src="../../../assets/images/bootstrap.png" alt="bootstrap">
              </p>
            </div>
            <div class="col">
              <span>
                <div>
                  Back-end
                </div>
              </span>
              <p [ngStyle]="{'width':isHandset?'50vw':'90%'}">
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/nodejs.png" alt="node">
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/flask.png" alt="flask">
                <img [ngClass]="!isHandset?'computer-img':''" src="../../../assets/images/mongo.png" alt="mongo">
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="other-tech" [ngStyle]="{'flex-direction': isHandset?'column':'row'}">
      <span>
        <fa-icon [icon]="['far','keyboard']"></fa-icon> Other Technologies:
      </span>
      <div class="img-container">
        <img src="../../../assets/images/git.png" alt="git">
        <img src="../../../assets/images/firebase.png" alt="firebase">
      </div>
      <div class="img-container">
        <img src="../../../assets/images/floydhub.png" alt="floydhub">
        <img src="../../../assets/images/aws.png" alt="aws">
      </div>
    </div>
  </div>
</div>


<!-- Skills
Data analytics
Web-development
Front-end
HTML/CSS/JS
Angular 2+
Bootstrap
Back-end
Node.js (Express)
Python (Flask)
MongoDB
Programming Languages
Python
Data Analysis: Numpy, Pandas, Matplotlib
Deep Learning: Pytorch
NLP: spaCy, NLTK
Back-end: Flask
JavaScript
Front-end: Angular (+HTML,CSS,Bootstrap)
Back-end: Express
Other Tech
Git
MongoDB
Firebase
Heroku -->