<div class="background">
</div>
<div class="container">
  <div class="heading" [ngsReveal]="{
    container:'#overlay', origin:'left',distance: '10em', easing: 'cubic-bezier(1,.08,.55,1.7)'}">
    <h1>
      Projects
    </h1> 
    <h2>
      <hr><fa-icon icon="project-diagram"></fa-icon><hr>
    </h2>
  </div>
  <div class="content-container">
    <div class='title'><fa-icon icon="brain" id="brain"></fa-icon> Machine/Deep Learning</div>
    <ul>
      <li>Image classification on Natural Images Dataset using Transfer Learning <a href="https://www.kaggle.com/gabrielloye/pytorch-vgg16-natural-images"> Kaggle Link</a></li>
      <li><a href="https://github.com/gabrielloye/Amazon_reviews_analysis">Sentiment Analysis on Amazon Reviews with LSTM model</a></li>
    </ul>
    <div class='title'><fa-icon icon="desktop"></fa-icon> Web Development</div>
    <div class="list-container">
      <ul>
        <li><a href="https://gabrielloye.github.io/football/">Football Website</a></li>
        <li>Portfolio Website (This site)</li>
      </ul>
    </div>

  </div>
</div>

<!-- Projects
              Github page
              Sentiment Analysis with pytorch
              Football site
              More to come... -->