<div class="background">
</div>
<div class="container">
  <div class="heading" [ngsReveal]="{
    container:'#overlay', origin:'left',distance: '10em', easing: 'cubic-bezier(1,.08,.55,1.7)'}">
    <h1>
      Projects
    </h1> 
    <h2>
      <hr><fa-icon icon="project-diagram"></fa-icon><hr>
    </h2>
  </div>
  <div class="content">
    <ul>
      <li><a href="https://gabrielloye.github.io/football/">Football Website</a></li>
      <li><a href="https://github.com/gabrielloye/Amazon_reviews_analysis">Sentiment Analysis on Amazon Reviews with LSTM model</a></li>
      <li>Portfolio Website</li>
    </ul>
    <h1>Page Under Construction<fa-icon icon='tools'></fa-icon></h1>
  </div>
</div>

<!-- Projects
              Github page
              Sentiment Analysis with pytorch
              Football site
              More to come... -->