.overlay {
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: white;
    font-family: montserrat;
    font-size: calc(3vh + 3vw);
    mat-sidenav-container {
        width: 100%;
        height: 100%;
        .hidden {
            display:none;
        }
        mat-sidenav {
            background-color: green;
            width: 100%;
        }
        mat-sidenav-content{
            background-color: black;
        } 
    }
}