<div class="container">
  <div class="heading" [ngsReveal]="{
    container:'#overlay', origin:'left',distance: '10em', easing: 'cubic-bezier(1,.08,.55,1.7)'}">
    <h1>
      EDUCATION
    </h1> 
    <h2>
      <hr><fa-icon icon="book-open"></fa-icon><hr>
    </h2>
  </div>
  <div class="content-container">
    <div class="timeline">
      <div class="icons-column">
        <div class="icon-container">
          <div class="icon-border">
            <fa-icon icon="pencil-alt"></fa-icon>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-border">
            <fa-icon icon="pen-alt"></fa-icon>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-border">
            <fa-icon icon="school"></fa-icon>
          </div>
        </div>
        <div class="icon-container">
          <div class="icon-border">
            <fa-icon icon="university"></fa-icon>
          </div>
        </div>
      </div>
    </div>
    <div class="schools">
      <div class="speech-bubble">

      </div>
      <div class="speech-bubble">

      </div>
      <div class="speech-bubble">

      </div>
      <div class="speech-bubble">

      </div>
    </div>
  </div>
</div>